# Convert CSV dataset to SQL

In [2]:
# Import data
import pandas as pd
df = pd.read_csv('../data/test_dataset.csv')

In [3]:
# Create SQLite Database Engine
from sqlalchemy import create_engine
engine = create_engine('sqlite:///../data/test_dataset.db', echo=False)

In [4]:
# Create a table from the DataFrame
df.to_sql('test_table', con=engine, if_exists='replace', index=False)

2000

In [11]:
# Test querying the database
from sqlalchemy import text
from sqlalchemy.orm import Session

conn = engine.connect()

In [19]:
# Describe Columns
# query = text("select COLUMN_NAME from sys.COLUMNS where TABLE_NAME = 'test_table';")
query = text("PRAGMA table_info('test_table');")

# Execute the query and fetch the results
result = session.execute(query)

# Print the results
for row in result:
    print(row)

(0, 'customer_id', 'BIGINT', 0, None, 0)
(1, 'age', 'BIGINT', 0, None, 0)
(2, 'income', 'FLOAT', 0, None, 0)
(3, 'region', 'TEXT', 0, None, 0)
(4, 'product_category', 'TEXT', 0, None, 0)
(5, 'purchase_date', 'TEXT', 0, None, 0)
(6, 'quantity', 'BIGINT', 0, None, 0)
(7, 'unit_price', 'FLOAT', 0, None, 0)
(8, 'total_sales', 'FLOAT', 0, None, 0)

In [ ]:
# Select first 5 records
query = text("SELECT * FROM test_table LIMIT 5;")
result = conn.execute(query)
for record in result:
    print("\n", record)

 (1, 56, 34980.07, 'East', 'Electronics', '2024-03-01', 10, 112.43, 997.13)

 (2, 69, 112119.55, 'North', 'Clothing', '2024-02-17', 8, 350.94, 2567.37)

 (3, 46, None, 'South', 'Electronics', '2024-09-03', 8, 472.66, 3106.82)

 (4, 32, 52770.79, 'North', 'Electronics', '2024-12-03', 3, 497.8, 1457.96)

 (5, 60, 43614.71, 'East', 'Electronics', '2024-03-07', 7, 230.64, 1448.29)

In [ ]:
# Test complex query from my MSDS SQL Coursework
# To-do: create additional tables to test joins
query = text("""
SELECT customerid, SUM(quantity) AS "Total Order Volume"
    FROM customers C RIGHT JOIN
        orders O ON C.customernumber = O.customernumber JOIN
            orderdetails OD ON O.ordernunber = OD.ordernumber
GROUP BY customername
HAVING SUM(quantityordered) > 1650
ORDER BY SUM(quantityordered) DESC;
""")

result = conn.execute(query)
for record in result:
    print("\n", record)